<?xml version="1.0"?>
<launch>
    <!-- Start the position controllers first -->
    <include file="$(find my_gurdy_description)/launch/start_controllers.launch" />
    
    <!-- Wait for controllers to start properly -->
    <arg name="startup_delay" default="2.0" /> <!-- seconds -->
    <node pkg="rospy" type="sleep" name="sleep" args="$(arg startup_delay)" />
    
    <!-- Load the parameters for the SARSA algorithm -->
    <rosparam command="load" file="$(find my_gurdy_description)/config/params_sarsa.yaml" />
    
    <!-- Launch the training node -->
    <node pkg="my_gurdy_description" type="train_gurdy_sarsa.py" name="gurdy_sarsa" output="screen"/>
</launch>