<?xml version="1.0"?>
<launch>
    <!-- This launch file creates uniquely named controllers for each algorithm -->
    
    <!-- Define namespaces for each algorithm -->
    <arg name="dqn_ns" default="dqn_gurdy" />
    <arg name="sarsa_ns" default="sarsa_gurdy" />
    <arg name="pg_ns" default="pg_gurdy" />
    <arg name="ppo_ns" default="ppo_gurdy" />
    <arg name="sac_ns" default="sac_gurdy" />
    <arg name="qlearn_ns" default="qlearn_gurdy" />
    
    <!-- Controllers for DQN -->
    <group ns="$(arg dqn_ns)">
        <node name="position_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              args="head_upperlegM1_joint_position_controller 
                                   head_upperlegM2_joint_position_controller 
                                   head_upperlegM3_joint_position_controller 
                                   head_upperlegM4_joint_position_controller 
                                   head_upperlegM5_joint_position_controller 
                                   head_upperlegM6_joint_position_controller 
                                   upperlegM1_lowerlegM1_joint_position_controller 
                                   upperlegM2_lowerlegM2_joint_position_controller 
                                   upperlegM3_lowerlegM3_joint_position_controller 
                                   upperlegM4_lowerlegM4_joint_position_controller 
                                   upperlegM5_lowerlegM5_joint_position_controller 
                                   upperlegM6_lowerlegM6_joint_position_controller" />
    </group>
    
    <!-- Controllers for SARSA -->
    <group ns="$(arg sarsa_ns)">
        <node name="position_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              args="head_upperlegM1_joint_position_controller 
                                   head_upperlegM2_joint_position_controller 
                                   head_upperlegM3_joint_position_controller 
                                   head_upperlegM4_joint_position_controller 
                                   head_upperlegM5_joint_position_controller 
                                   head_upperlegM6_joint_position_controller 
                                   upperlegM1_lowerlegM1_joint_position_controller 
                                   upperlegM2_lowerlegM2_joint_position_controller 
                                   upperlegM3_lowerlegM3_joint_position_controller 
                                   upperlegM4_lowerlegM4_joint_position_controller 
                                   upperlegM5_lowerlegM5_joint_position_controller 
                                   upperlegM6_lowerlegM6_joint_position_controller" />
    </group>
    
    <!-- Controllers for Policy Gradient -->
    <group ns="$(arg pg_ns)">
        <node name="position_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              args="head_upperlegM1_joint_position_controller 
                                   head_upperlegM2_joint_position_controller 
                                   head_upperlegM3_joint_position_controller 
                                   head_upperlegM4_joint_position_controller 
                                   head_upperlegM5_joint_position_controller 
                                   head_upperlegM6_joint_position_controller 
                                   upperlegM1_lowerlegM1_joint_position_controller 
                                   upperlegM2_lowerlegM2_joint_position_controller 
                                   upperlegM3_lowerlegM3_joint_position_controller 
                                   upperlegM4_lowerlegM4_joint_position_controller 
                                   upperlegM5_lowerlegM5_joint_position_controller 
                                   upperlegM6_lowerlegM6_joint_position_controller" />
    </group>
    
    <!-- Controllers for PPO -->
    <group ns="$(arg ppo_ns)">
        <node name="position_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              args="head_upperlegM1_joint_position_controller 
                                   head_upperlegM2_joint_position_controller 
                                   head_upperlegM3_joint_position_controller 
                                   head_upperlegM4_joint_position_controller 
                                   head_upperlegM5_joint_position_controller 
                                   head_upperlegM6_joint_position_controller 
                                   upperlegM1_lowerlegM1_joint_position_controller 
                                   upperlegM2_lowerlegM2_joint_position_controller 
                                   upperlegM3_lowerlegM3_joint_position_controller 
                                   upperlegM4_lowerlegM4_joint_position_controller 
                                   upperlegM5_lowerlegM5_joint_position_controller 
                                   upperlegM6_lowerlegM6_joint_position_controller" />
    </group>
    
    <!-- Controllers for SAC -->
    <group ns="$(arg sac_ns)">
        <node name="position_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              args="head_upperlegM1_joint_position_controller 
                                   head_upperlegM2_joint_position_controller 
                                   head_upperlegM3_joint_position_controller 
                                   head_upperlegM4_joint_position_controller 
                                   head_upperlegM5_joint_position_controller 
                                   head_upperlegM6_joint_position_controller 
                                   upperlegM1_lowerlegM1_joint_position_controller 
                                   upperlegM2_lowerlegM2_joint_position_controller 
                                   upperlegM3_lowerlegM3_joint_position_controller 
                                   upperlegM4_lowerlegM4_joint_position_controller 
                                   upperlegM5_lowerlegM5_joint_position_controller 
                                   upperlegM6_lowerlegM6_joint_position_controller" />
    </group>
    
    <!-- Controllers for Q-Learning -->
    <group ns="$(arg qlearn_ns)">
        <node name="position_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              args="head_upperlegM1_joint_position_controller 
                                   head_upperlegM2_joint_position_controller 
                                   head_upperlegM3_joint_position_controller 
                                   head_upperlegM4_joint_position_controller 
                                   head_upperlegM5_joint_position_controller 
                                   head_upperlegM6_joint_position_controller 
                                   upperlegM1_lowerlegM1_joint_position_controller 
                                   upperlegM2_lowerlegM2_joint_position_controller 
                                   upperlegM3_lowerlegM3_joint_position_controller 
                                   upperlegM4_lowerlegM4_joint_position_controller 
                                   upperlegM5_lowerlegM5_joint_position_controller 
                                   upperlegM6_lowerlegM6_joint_position_controller" />
    </group>
</launch>